body{
    background-color: rgb(255,240,222);
    color: #555555;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
li{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
a{
    color: maroon;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    /*font-weight: bold;
    font-size: 18px; */
}
a:visited{
    color: blue;
}
.underline {text-decoration: underline;}
.bold{font-weight: bold;}
.justify{text-align: justify;}



